* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/svg/bg-yellow.svg);
}

body.blue {
  --card-title-border-color: #338af3;
  --card-color-primary: #338af3;
  --card-bg-color: #202024;
  --bg: url(./assets/svg/bg-blue.svg);
}

body.green {
  --card-title-border-color: #047C3F;
  --card-color-primary: #047C3F;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/svg/bg-green.svg);
}

ul {
  list-style: none;
}

body {
    background: #121214 var(--bg) no-repeat top center/contain;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 50px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #f7dd45;

  margin: 30px;
  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  }

#cardsGroupStage {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.cardGroupStage {
  padding: 32px 23px;
  text-align: center;
  height: fit-content;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.cardGroupStage h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 40px;

  color: var(--card-color-primary);
}

.cardGroupStage ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  /* width: 350px; */
}

.cardGroupStage span {
  color: #e1e1e6;
  font-size: 16px;
}

.cardGroupStage ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30.62px;
}

.cardGroupStage ul li + li {
  padding-top: 24px; 
  border-top: 1px solid #323238;
}

.cardGroupStage ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.cardGroupStage ul li strong:hover,
.cardGroupStage ul li img:hover {
  transform: scale(1.1);
}

.cardGroupStage ul li strong,
.cardGroupStage ul li img {
  transition: transform 0.3s;
}

.cardGroupStage {
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 840px) {
  #cardsGroupStage {
    max-width: 840px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1680px) {
  #cardsGroupStage {
    max-width: 1680px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* ----------------------------------------------- */

#cardsKnockout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
  align-items: center;
}

.cardKnockout {
  width: 600px;
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.cardKnockout h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 40px;

  color: var(--card-color-primary);
}

.cardKnockout ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardKnockout span {
  color: #e1e1e6;
  font-size: 16px;
}

.cardKnockout ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30.62px;
}

.cardKnockout ul li + li {
  padding-top: 24px; 
  border-top: 1px solid #323238;
}

.cardKnockout ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.cardKnockout ul li strong:hover,
.cardKnockout ul li img:hover {
  transform: scale(1.1);
}

.cardKnockout ul li strong,
.cardKnockout ul li img {
  transition: transform 0.3s;
}

.cardKnockout {
  opacity: 0;
  animation: appear 1s forwards;
}

/* @media (min-width: 840px) {
  #cardsKnockout {
    max-width: 840px;
    flex-direction: row;
    flex-wrap: wrap;
  }
} */

/* @media (min-width: 1680px) {
  #cardsKnockout {
    max-width: 1680px;
    flex-direction: row;
    flex-wrap: wrap;
  }
} */